* {
	list-style: none;
	background: #cecece;
	font-family: '微软雅黑'
}
ul, li {
	padding: 0;
	margin: 0;
}
body {
	color: #333333;
}

/*清除浮动代码*/ 
.clearfloat:after{
	display: block;
	clear: both;
	content: "";
	visibility: hidden;
	height: 0;
} 
.clearfloat{
	zoom: 1;
} 
.fl {
	float: left;
}
.fr {
	float: right;
}

.container {
	margin: 0 auto;
	max-width: 900px;
	min-width: 600px;
	text-align: center;
}
.add-task {
	margin: 0 10px;
	width: calc(100% - 20px);
}
.add-task-text {
	float: left;
	padding: 10px;
	display: block;
	width: calc(80% - 20px);
	height: 24px;
	background: #fff;
	border: 0;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
	font-size: 18px;
}
.add-task-button {
	float: left;
	display: block;
	margin-left: 10px;
	width: calc(20% - 10px);
	height: 44px;
	line-height: 44px;
	background: #e2e2cc;
	font-size: 24px;
	color: #333;
	border: 0;
	border-radius: 3px;
	outline: none;
	cursor: pointer;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}
.add-task-button:hover {
	background: #dedea6;
}
.task-list { 
	margin: 5px 10px;
	width: calc(100% - 20px);
}
.task-list .task-item {
	margin: 0 0 5px 0;
	padding: 10px;
	width: calc(100% - 20px);
	height: 26px;
	line-height: 26px;
	border-radius: 4px;
	background: #fff;
	color: #333;
	font-size: 18px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
	box-shadow: 0 2px 3px rgba(0, 0, 0, .4);
}
.task-list .task-item:hover {
	transition: background .15s;
	background: #e8e8e8;
}
.task-list .task-item .item-content {
	display: flex;
	align-items: center;
	vertical-align: middle;
	float: left;
	background: transparent;
	width: calc(100% - 150px);
	text-align: left;
}
.task-list .task-item .item-content .item-checkbox {
	margin-right: 4px;
	background: transparent;
}
.task-list .task-item .item-content .item-text {
	background: transparent;
	width: calc(100% - 20px);
	height: 26px;
	line-height: 26px;
	overflow: hidden;
}
.task-list .task-item .item-operation {
	float: left;
	background: transparent;
	width: 150px;
	text-align: right;
}
.task-list .task-item .item-operation .item-btn {
	margin-right: 10px;
	display: inline-block;
	background: transparent;
	cursor: pointer;
}
.task-list .task-item .item-operation .item-btn:hover {
	text-decoration: underline;
}
.task-list .task-item .item-operation .item-delete {
	margin-right: 10px;
}
.task-list .task-item .item-operation .item-detail {

}
.task-detail {
	padding: 10px;
	width: 300px;
	background: #fff;
	border-radius: 4px;	
}
.task-detail .content {
	padding: 5px 4px;
	width: calc(100% - 8px);
	line-height: 28px;
	text-align: left;
	background: #fff;
}
.task-detail .remark {
	margin-top: 5px;
	width: 100%;
	background: #fff;
}
.task-detail .remark textarea {
	padding: 4px;
	width: calc(100% - 8px);
	min-height: 88px;
	line-height: 22px;
	background: #ddd;
	border: 0;
	border-radius: 4px;
	resize: none;
}
.task-detail .date {
	margin: 5px 0 10px;
	width: 100%;
	background: #fff;
}
.task-detail .date input {
	width: 100%;
	min-height: 36px;
	background: #ddd;
	border: 0;
	border-radius: 4px;
}
.detail-btns {
	width: 100%;
	height: 30px;
	background: #fff;
}
.detail-btns .detail-btn {
	width: 80px;
	height: 30px;
	border: none;
	border-radius: 4px;
	background: #8e8e8e;
	color: #fff;
	font-size: 20px;
	outline: none;
	cursor: pointer;
}
