<!DOCTYPE html>
<html>
<head>
	<title>slider</title>
	<script type="text/javascript" src="../node_modules/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="./js/slider.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/base.css">
	<script type="text/javascript">
		$(document).ready(()=>{
			$('.wrap').myPlugin('item', 320, 2000);
		})
	</script>
</head>
<body>
<div class="wrap">
	<div class="list">
		<div class="item item1">1</div>
		<div class="item item2">2</div>
		<div class="item item3">3</div>
	</div>
	<div class="dotss">
		<div class="dot active">1</div>
		<div class="dot">2</div>
		<div class="dot">3</div>
	</div>
</div>
</body>
</html>